extends layout

block content
    h1 Title: !{item_detail.name}

    p #[strong Description:] !{item_detail.description}
    p #[strong Price:] #{item_detail.price}
    p #[strong Number in stock:] #{item_detail.numberInStock}
    p #[strong Category:] #{item_detail.category.name}
    if item_detail.imagePath
        p #[strong Image:]
        img.img-thumbnail(src=`/catalog/uploads/${item_detail.imagePath.split('/').pop()}`)


    hr
    p
        a(href=item_detail.url+'/delete') Delete Item
    p
        a(href=item_detail.url+'/update') Update Item
